<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Appium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Appium.Properties.Settings>
            <setting name="BreakOnApplicationStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeveloperMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExternalNodeJSBinary" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalAppiumPackage" serializeAs="String">
                <value />
            </setting>
            <setting name="NodeJSDebugPort" serializeAs="String">
                <value>5858</value>
            </setting>
            <setting name="PrelaunchApplication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuietLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetApplicationState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseExternalNodeJSBinary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseExternalAppiumPackage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseNodeJSDebugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>4723</value>
            </setting>
            <setting name="UseApplicationPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AndroidPackage" serializeAs="String">
                <value />
            </setting>
            <setting name="AndroidActivity" serializeAs="String">
                <value />
            </setting>
            <setting name="AndroidWaitActivity" serializeAs="String">
                <value />
            </setting>
            <setting name="AVD" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAndroidPackage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAndroidActivity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAndroidWaitActivity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchAVD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRemoteServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PerformFullAndroidReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AndroidDeviceReadyTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UseAndroidDeviceReadyTimeout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InspectorDeviceCapability" serializeAs="String">
                <value>android</value>
            </setting>
            <setting name="UseLanguage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="UseLocale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Locale" serializeAs="String">
                <value>US</value>
            </setting>
            <setting name="UseDeviceName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="PlatformName" serializeAs="String">
                <value>Android</value>
            </setting>
            <setting name="AutomationName" serializeAs="String">
                <value>Appium</value>
            </setting>
            <setting name="PlatformVersion" serializeAs="String">
                <value>4.3 Jelly Bean (API Level 18)</value>
            </setting>
            <setting name="AndroidBrowser" serializeAs="String">
                <value>Chrome</value>
            </setting>
            <setting name="UseAndroidBrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AndroidIntentAction" serializeAs="String">
                <value>android.intent.action.MAIN</value>
            </setting>
            <setting name="AndroidIntentCategory" serializeAs="String">
                <value>android.intent.category.LAUNCHER</value>
            </setting>
            <setting name="AndroidIntentFlags" serializeAs="String">
                <value>0x10200000</value>
            </setting>
            <setting name="AndroidIntentArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAndroidIntentAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAndroidIntentCategory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAndroidIntentFlags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAndroidIntentArguments" serializeAs="String">
                <value>False</value>
            </setting>
        </Appium.Properties.Settings>
    </userSettings>
</configuration>