<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Appium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Appium.Properties.Settings>
            <setting name="BreakOnApplicationStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeveloperMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExternalNodeJSBinary" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalAppiumPackage" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepArtifacts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NodeJSDebugPort" serializeAs="String">
                <value>5858</value>
            </setting>
            <setting name="PrelaunchApplication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuietLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResetApplicationState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseExternalNodeJSBinary" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseExternalAppiumPackage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseNodeJSDebugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>4723</value>
            </setting>
            <setting name="UseApplicationPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AndroidPackage" serializeAs="String">
                <value />
            </setting>
            <setting name="AndroidActivity" serializeAs="String">
                <value />
            </setting>
            <setting name="AndroidWaitActivity" serializeAs="String">
                <value />
            </setting>
            <setting name="AVD" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAndroidPackage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAndroidActivity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAndroidWaitActivity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchAVD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRemoteServer" serializeAs="String">
                <value>False</value>
            </setting>
        </Appium.Properties.Settings>
    </userSettings>
</configuration>
